body{
    font-family: Arial;
    background-color: #eef6ff;
    margin: 0;
}
h1{
    text-align: center;
}
.container{
    display: flex;
    gap: 20px;
    width: 90%;
    margin: auto;

}

.left{
    width: 30%;
}

.right{
    width: 70%;
}
.card{
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius:10px;

}
input, select {
    width: 100%;
    padding: 10px;
    margin:10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}
button{
    width:100%;
    padding: 10px;
    background:blue;
    color:white;
    border:none;
    cursor:pointer;

}
.btn-red {
    width: 100%;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}
  .btn-action:hover {
            background-color: #bd2130;
        }
.summary{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 20px;
}

.summary div{
    background-color:#eef6ff;
    padding: 10px;
    border-radius: 5px;
}
.box{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
    flex: 1;
    text-align: center;
}
.box h4{
    margin: 0;
    color:#333
}

.box p{
    margin-top: 5px;
    font-size: 10px;
    font-weight: bold;
    color: #007bff;
}
table{
    width: 100%;
    border-collapse: collapse;
    background-color: white;

}
th, td{
    padding: 10px;
    border: 1px solid #ddd;

}
.remove-btn{
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
