body{
    font-family: Arial, sans-serif;
    background-color: #f9eeee;
     height: 100vh;
}

.RESUME{
    width: 800px;
    margin: 30px auto;
    background: rgb(245, 235, 235);
    padding: 30px;
    box-shadow: 0 0 10px gray;
}
.header p{
    margin: 5px 0;
    display: block;
    justify-content: space-between;
    align-items: center;

}
h1{
    color: #004d4d;
    text-decoration: underline;
    
}
.section-title{
    background: #006666;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    margin-top: 20px;
}
ul{
    margin-top: 20px;
}
li{
    margin-bottom: 8px;
}
.contact{
    display: block;
}
.contact p{
    margin: 5px;
}
.nav-links{

    display:flex;
    justify-content:space-between;
    align-items:center;
    width:80%;
    margin:30px auto;
    padding:10px;

}


.Back-link,
.Next-link{

    text-decoration:none;
    background:#2563eb;
    color:white;
    padding:12px 28px;
    border-radius:25px;
    font-size:16px;
    font-weight:600;
    transition:0.3s;
    display:inline-block;

}


.Back-link:hover,
.Next-link:hover{

    background:#1e40af;
    transform:translateY(-3px);
    box-shadow:0 5px 15px rgba(0,0,0,0.3);

}
    

