body{
    font-family: Arial, sans-serif;
    background: #f4f4f4
}


.RESUME{
    width: 800px;
    margin: 30px auto;
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px gray;
}
.header p{
    margin: 5px 0;
    display: block;
    justify-content: space-between;
    align-items: center;

}
h1{
    color: #004d4d;
    text-decoration: underline;
    
}
.section-title{
    background: #006666;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    margin-top: 20px;
}
ul{
    margin-top: 20px;
}
li{
    margin-bottom: 8px;
}
.contact{
    display: block;
}
.contact p{
    margin: 5px;
}
    

